@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 4% 95%;
    --foreground: 220 13% 9%;
    --card: 220 4% 95%;
    --card-foreground: 220 13% 9%;
    --popover: 220 4% 95%;
    --popover-foreground: 220 13% 9%;
    --primary: 289 83% 55%;
    --primary-foreground: 300 100% 100%;
    --secondary: 220 9% 91%;
    --secondary-foreground: 220 13% 9%;
    --muted: 220 9% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 190 100% 59%;
    --accent-foreground: 220 13% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 9% 80%;
    --input: 220 9% 80%;
    --ring: 289 83% 55%;
    --chart-1: 289 83% 55%;
    --chart-2: 190 100% 59%;
    --chart-3: 220 70% 50%;
    --chart-4: 160 60% 45%;
    --chart-5: 30 80% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 4% 18%;
    --foreground: 0 0% 98%;
    --card: 220 4% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 220 4% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 289 83% 55%;
    --primary-foreground: 300 100% 100%;
    --secondary: 220 4% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 4% 24%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 190 100% 59%;
    --accent-foreground: 220 13% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 4% 24%;
    --input: 220 4% 24%;
    --ring: 289 83% 60%;
    --chart-1: 289 83% 55%;
    --chart-2: 190 100% 59%;
    --chart-3: 220 70% 50%;
    --chart-4: 160 60% 45%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 220 4% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 289 83% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 4% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 4% 18%;
    --sidebar-ring: 289 83% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .auth-background {
    background-image: url('https://images.unsplash.com/photo-1550439062-609e1531270e?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
  }
}
